html(lang='en', ng-app='StorkStalker')
    head
        link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css')
        link(rel='stylesheet', href='/stylesheets/dashboard.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body(layout='row', ng-controller='AppCtrl' ng-cloak md-theme="{{theme}}")
        md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='column', md-component-id='left', md-is-locked-open="$mdMedia('gt-md')")
            md-toolbar.md-tall.md-hue-2
                span(flex='')
                .md-toolbar-tools-bottom.inset(layout='column' ng-show="doneLoading()")
                    user-avatar
                    span
                    div {{user.first}}{{user.middle}}{{user.last}}
                    div {{user.email}}
            md-list
                md-item
                    a
                        md-item-content(ng-click='gotoDashboard()' md-ink-ripple='', layout='row', layout-align='startcenter')
                            .inset
                                ng-md-icon(icon='{{menu[0].icon}}')
                            .inset
                                | {{menu[0].title}}
                md-divider
                md-subheader Management
                md-item
                    a
                        md-item-content(ng-click='showSettings(event)', md-ink-ripple='', layout='row', layout-align='start center')
                            .inset
                                ng-md-icon(icon='{{admin[0].icon}}')
                            .inset
                                | {{admin[0].title}}
                md-item
                    a
                        md-item-content(ng-click='logOut(event)', md-ink-ripple='', layout='row', layout-align='start center')
                            .inset
                                ng-md-icon(icon='{{admin[1].icon}}')
                            .inset
                                | {{admin[1].title}}
        .relative(layout='column', layout-fill='', role='main')
            md-button.md-fab.md-fab-bottom-right(aria-label='Add', ng-click='showAdd($event)' ng-show="doneLoading()")
                ng-md-icon(icon='add')
            md-toolbar.themed(ng-show='!showSearch')
                .md-toolbar-tools
                    md-button(ng-click="toggleSidenav('left')", hide-gt-md='', aria-label='Menu')
                        ng-md-icon(icon='menu')
                    h3
                        | Dashboard
                    span(flex='')
                    md-button(aria-label='Search', ng-click='showSearch = !showSearch')
                        ng-md-icon(icon='search')
                md-tabs.md-primary(md-stretch-tabs='', md-selected='data.selectedIndex')
                    md-tab#tab1(aria-controls='tab1-content')
                        | Latest
                    md-tab#tab2(aria-controls='tab2-content')
                        | Arriving
                    md-tab#tab3(aria-controls='tab3-content')
                        | Delivered
            md-toolbar.md-hue-1(ng-show='showSearch')
                .md-toolbar-tools
                    md-button(ng-click='searchBack()' aria-label='Back')
                        ng-md-icon(icon='arrow_back')
                    h3(flex='10')
                        | Back
                    md-input-container( flex='')
                        label  
                        input(placeholder='enter search' ng-model='searchText')
                    md-button(aria-label='Search', ng-click='showSearch = !showSearch')
                        ng-md-icon(icon='search')
                    md-button(aria-label='Open Settings', ng-click='showListBottomSheet($event)')
                        ng-md-icon(icon='more_vert')
            md-content(flex='' md-scroll-y='')
                ui-view(layout='column', layout-fill='', layout-padding='')
                    .inset(hide-sm='')
                    ng-switch.tabpanel-container(on='data.selectedIndex')
                        span(ng-show="!doneLoading()")
                            //loading
                            div(layout="layout" layout-sm="column" layout-align="center center")
                                md-progress-circular(md-mode="indeterminate")
                        span(ng-show="doneLoading()")
                            #tab1-content(role='tabpanel', aria-labelledby='tab1', ng-switch-when='0', md-swipe-left='next()', md-swipe-right='previous()', layout='row', layout-align='center center')
                                md-card(flex-gt-sm='90', flex-gt-md='80')
                                    md-card-content
                                        h2 Packages
                                        md-list
                                            md-item(ng-repeat='item in packages | filter:searchText | orderBy:"-date"')
                                                md-item-content(ng-click='showPackage($event, item)')
                                                    img(src='/images/package_icon.svg', width='10%', height='7%')
                                                    .md-tile-content(md-ink-ripple='', ng-click='null')
                                                        h3 {{item.description}}
                                                        h4 {{item.carrier}}:  {{item.tracking_code}}
                                                        p
                                                            | {{item.details}}
                                                md-divider(md-inset='', hide-sm='', ng-if='!$last')
                                                md-divider(hide-gt-sm='', ng-if='!$last')
                            #tab2-content(role='tabpanel', aria-labelledby='tab2', ng-switch-when='1', md-swipe-left='next()', md-swipe-right='previous()', layout='row', layout-align='center center')
                                md-card(flex-gt-sm='90', flex-gt-md='80')
                                    md-card-content
                                        h2 Packages
                                        md-list
                                            md-item(ng-repeat='item in packages | filter:searchText | orderBy:"-est_delivery_date" | filter:filterUndelivered')
                                                md-item-content(ng-click='showPackage($event, item)')
                                                    img(src='/images/package_icon.svg', width='10%', height='7%')
                                                    .md-tile-content(md-ink-ripple='', ng-click='null')
                                                        h3 {{item.description}}
                                                        h4 {{item.carrier}}:  {{item.tracking_code}}
                                                        p
                                                            | {{item.details}}
                                                md-divider(md-inset='', hide-sm='', ng-if='!$last')
                                                md-divider(hide-gt-sm='', ng-if='!$last')
                            #tab3-content(role='tabpanel', aria-labelledby='tab3', ng-switch-when='2',
                            md-swipe-left='next()', md-swipe-right='previous()', layout='row', layout-align='center center')
                                md-card(flex-gt-sm='90', flex-gt-md='80')
                                    md-card-content
                                        h2 Packages
                                        md-list
                                            md-item(ng-repeat='item in packages | filter:searchText | orderBy:"updated_at" | filter:filterDelivered')
                                                md-item-content(ng-click='showPackage($event, item)')
                                                    img(src='/images/package_icon.svg', width='10%', height='7%')
                                                    .md-tile-content(md-ink-ripple='', ng-click='null')
                                                        h3 {{item.description}}
                                                        h4 {{item.carrier}}:  {{item.tracking_code}}
                                                        p
                                                            | {{item.details}}
                                                md-divider(md-inset='', hide-sm='', ng-if='!$last')
                                                md-divider(hide-gt-sm='', ng-if='!$last')

        // Dependencies
        script(src='//code.jquery.com/jquery-2.2.3.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js')
        script(src='//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js')
        script(src='javascripts/dashboard.js')
