<md-dialog>
    <form>
        <md-toolbar style="background-color: royalblue" layout="row" layout-align="center">
            <div>
                <h2 style="color: white"> About </h2>
            </div>
        </md-toolbar>
        <md-content class="md-padding" style="background-color: white" layout="column" layout-align="center center" flex>
            <p>StorkStalker Inc is an innovative company making innovative things for innovative people. </p>
        </md-content>
    </form>
</md-dialog>