<md-dialog>
    <form>
        <md-toolbar style="background-color: #2196F3" layout="row" layout-align="center">
            <div>
                <h2 style="color: white"> Login </h2>
            </div>
        </md-toolbar>
        <md-content class="md-padding" style="background-color: white" layout="column" layout-align="center center" flex>
            <div>
                <md-input-container flex>
                    <label style="color: black">Email Address</label>
                    <input type="email" ng-model="user.email" autofill>
                </md-input-container>
            </div>
            <div>
                <md-input-container flex>
                    <label style="color: black">Password</label>
                    <input type="password" ng-model="user.password" autofill="">
                </md-input-container>
            </div>
            <div>
                <md-button class="md-raised md-primary" ng-click="answer(user)" style="background-color: #2196F3" type=submit>
                    Log In
                </md-button>
            </div>
        </md-content>
    </form>
</md-dialog>