<md-dialog aria-label="Settings">
    <form>
        <md-content class="md-padding">
            <md-tabs>
                <md-tab label="Account Settings">
                    <md-content class="md-padding">
                        <md-input-container>
                            <label align="start" style="color: black">New First Name</label>
                            <input type="text" ng-model="settings.first">
                        </md-input-container>
                        <md-input-container>
                            <label align="start" style="color: black">New Last Name</label>
                            <input type="text" ng-model="settings.last">
                        </md-input-container>
                        <md-button ng-click="answer()"> Cancel </md-button>
                        <md-button ng-click="answer(settings)" class="md-primary">
                            Add
                        </md-button>
                    </md-content>
                </md-tab>
                <md-tab label="Themes">
                    <md-content class="md-padding">
                        <div>
                            <p align="start">Choose Accent Color</p>
                        </div>
                  <span layout="row" layout-align="space-around">
                      <div class="square bg_blue" ng-click="answer(&apos;blueTheme&apos;)"></div>
                      <div class="square bg_red" ng-click="answer(&apos;redTheme&apos;)"></div>
                      <div class="square bg_teal" ng-click="answer(&apos;tealTheme&apos;)"></div>
                       </span>
                    </md-content>
                </md-tab>
        </md-content>
    </form>
</md-dialog>