html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

center {
    margin: auto;
    text-align: center;
    font-weight: 500;
}

.above {
    z-index: 10;
}

.above2 {
    z-index: 100;
}

video#video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/cloud_loop_poster.png) no-repeat;
    background-size: cover;
}

.card {
    background-color: white;
    border-radius: 2px;
    display: block;
    float: left;
    height: 375px;
    margin: 1rem;
    position: relative;
    width: 300px;
    z-index: 10;
}

.card2 {
    background: #fff;
    border-radius: 2px;
    display: block;
    float: left;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 400px;
}

.card-4 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.icon {
    position: relative;
    width: 96px;
    height: 96px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom: 1.50;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
    size: 96px;
}